---

title: "Home"
subtitle: "My development portofolio"
background: "../img/Paris.jpg"

date: 2021-09-20T16:05:45+02:00
draft: false
---

<!--section class="section">
  <div class="container">
    <a class="button is-info is-large is-rounded is-centered" target="_blank"
      href="https://henri2h.fr/move-to-matrix/all">
      <span class="icon">
        <i class="far fa-comment-alt"></i>
      </span>
      <span>Move to MATRIX</span>
    </a>
  </div>
</section-->

<section class="section">
  <div>
    <h2 class="title is-2">My projects</h2>

    <div class="p-2">
      <div style="overflow:hidden; height:0;">
        <div class="skewed" id="sk"></div>
      </div>
      <section class="section card">


        <h2 class="title">Mines'Trix</h2>
        <h3 class="subtitle">A privacy focused social media</h3>

        <div class="columns">
          <div class="column content">
            <p>
              A social media based upon
              <a href="https://matrix.org" target="_blank">MATRIX</a>, decentralized
              and supporting E2E
            </p>
            <div class="field is-grouped is-grouped-multiline">
              <div class="control">
                <div class="tags has-addons">
                  <span class="tag is-medium is-black">BASED ON</span>
                  <span class="tag is-medium is-info">MATRIX</span>
                </div>
              </div>
              <div class="control">
                <span class="tag is-medium is-success">DECENTRALISED</span>
              </div>

              <div class="control">
                <span class="tag is-medium is-success">E2EE</span>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="tags has-addons">
              <span class="tag is-medium is-black">Maturity</span>
              <span class="tag is-medium is-info">ALPHA</span>
            </div>

            <div class="tags">
              <span class="tag is-medium is-dark">SUPPORTED PLATFORMS</span>

              <span class="tag is-medium is-info">ANDROID</span>

              <span class="tag is-medium is-info">IOS</span>
              <span class="tag is-medium is-info">WEB</span>

              <span class="tag is-medium is-info">LINUX</span>
            </div>
            <a class="button is-success is-large is-rounded" target="_blank"
              href="https://gitlab.com/minestrix/minestrix-flutter">
              <span class="icon">
                <i class="fab fa-gitlab"></i>
              </span>
              <span>Source Code on Gitlab</span>
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="p-2">
      <section class="section card">
        <h2 class="title">CChat</h2>
        <div class="columns">
          <div class="column content">
            <p>A custom messaging app with several clients</p>
            <span class="tag is-medium is-danger">ARCHIVED</span>
          </div>
          <div class="column">
            <div class="tags">
              <span class="tag is-info">UWP</span>

              <span class="tag is-info">Cordova with VUE.js</span>

              <span class="tag is-info">Xamarin</span>
              <span class="tag is-info">Ubuntu touch</span>

            </div>
            <a class="button" href="https://gitlab.com/henri2h/cchat-api" target="_blank">View API</a>
            <a class="button" target="_blank" href="https://gitlab.com/henri2h/CChat">Find me on gitlab</a>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<section class="section">
  <h2 class="title is-2">Experimentations and research :</h2>
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <p class="title">DIY Quadcopter</p>

          <p class="subtitle">A DIY quadcopter</p>

          <p class="buttons">
            <a class="button is-info" href="/quadricopter" target="_blank"><span>More info</span></a>
            <a class="button is-info" target="_blank" href="https://github.com/Henri2h/DroneControl">
              <span class="icon">
                <i class="fab fa-gitlab"></i>
              </span>
              <span>View on Github</span>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <p class="title">DIY SONAR</p>
          <p class="subtitle">A DIY SONAR written in C++ Qt and Python</p>
          <a class="button is-info" target="_blank" href="https://github.com/Henri2h/SONAR">
            <span class="icon">
              <i class="fab fa-gitlab"></i>
            </span>
            <span>View on Github</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>