---
title: "A DIY quadricopter"
subtitle: "The journey of our DIY quadricopter"

background: "../img/Tree.jpg"

date: 2021-09-20T16:05:45+02:00
draft: false
---


<section class="section">
  <div class="container">
    <h1 class="title">A DIY quadricopter</h1>

    <h2 class="subtitle">A simple project to build a custom quadricopter.</h2>

    <h2 class="title is-4">Receiver</h2>
    <p>In this categorie we will see how we get instruction from the user</p>

    <br />
    <h2 class="title is-4">ESC</h2>
    <p>The next step is to configure the ESC</p>
    <p>
      <strong>WARNING :&nbsp;</strong> some ESC need a initialisation sequence.
      The throttle should remain low (PWM : 1000) during 2 seconds during
      startup
    </p>
    <br />
    <h2 class="title is-4">Control</h2>
    <p>The control of the quadricopter is using a PID</p>
    <div class="tags has-addons">
      <span class="tag is-dark">Frequency</span>
      <span class="tag is-info">900 Hz</span>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h2 class="title">Project timeline</h2>
    <div class="timeline">
      <header class="timeline-header">
        <span class="tag is-medium is-primary">2017 : PCSI</span>
      </header>
      <div class="timeline-item is-primary">
        <div class="timeline-marker is-primary">
          <br />
        </div>
        <div class="timeline-content">
          <p class="heading">November 2017</p>

          <p>First research</p>
        </div>
      </div>
      <header class="timeline-header">
        <span class="tag is-primary">2018</span>
      </header>
      <div class="timeline-item is-warning">
        <div class="timeline-marker is-warning is-icon">
          <i class="fa fa-tools"></i>
        </div>
        <div class="timeline-content">
          <p class="heading">May 2018</p>

          <p>The quadcopter is built</p>
        </div>
      </div>
      <header class="timeline-header">
        <span class="tag is-primary">2019 : PSI</span>
      </header>
      <div class="timeline-item is-danger">
        <div class="timeline-marker is-danger is-icon">
          <i class="fa fa-check"></i>
        </div>
        <div class="timeline-content">
          <p class="heading">March 2017</p>

          <p>Timeline content - Can include any HTML element</p>
        </div>
      </div>
      <div class="timeline-item is-success">
        <div class="timeline-marker is-success is-icon">
          <i class="fa fa-flag"></i>
        </div>
        <div class="timeline-content">
          <p class="heading">January 2019</p>

          <p>First successfult test</p>
        </div>
      </div>
      <div class="timeline-item is-success">
        <div class="timeline-marker is-success is-icon">
          <i class="fa fa-rocket"></i>
        </div>
        <div class="timeline-content">
          <p class="heading">March 2019</p>

          <p>
            First take off !!! Still some issues with the yaw axis to solve :
            Work in progress
          </p>
        </div>
      </div>
      <div class="timeline-item is-success">
        <div class="timeline-marker is-success is-icon">
          <i class="fa fa-clock"></i>
        </div>
        <div class="timeline-content">
          <p class="heading">2020 : Pause until summer</p>
          <p>
            We are currently working on getting the yaw control working properly
            and in a reliable maner.<br />
            Currently, the quadricopter is a little bit instable
          </p>
        </div>
      </div>
      <header class="timeline-header">
        <span class="tag is-medium is-primary">End ?&nbsp;</span>
      </header>
    </div>
  </div>
</section>

<section class="section">
  <h2 class="title">A little more about this project</h2>
  <p>
    This project is in a early phase, still under heavy developpement. Stay
    tuned to future updates.
  </p>
</section>