<section class="hero is-fullheight is-size-4 is-black"
    style="background-image: url('{{.Params.background}}'); background-size: cover; background-position: bottom;">


    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item has-text-weight-bold is-size-4 has-text-white" href="/">
                        Henri2h
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu is-size-5">
                    <div class="navbar-end">
                        <a class="navbar-item has-text-white" href="/quadcopter">DIY Quadcopter</a>

                        <span class="navbar-item buttons">
                            <a class="button is-info is-inverted" href="https://github.com/henri2h" target="_blank">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>Github</span>
                            </a>
                            <a class="button is-info is-inverted" href="https://gitlab.com/henri2h" target="_blank">
                                <span class="icon">
                                    <i class="fab fa-gitlab"></i>
                                </span>
                                <span>Gitlab</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title has-text-weight-bold text-shadow has-text-white" style="font-size: 16vmin">
                {{ block "title" . }}
                {{.Params.Title}}
                {{ end }}
            </h1>
            <h2 class="subtitle text-shadow has-text-white" style="font-size: 10vmin">
                {{ block "subtitle" . }}
                {{.Params.subtitle}}
                {{ end }}
            </h2>
        </div>
    </div>
</section>